:root {
	--black: #382900;
	--white: #FFF;
	--primary: #FCF2DC;
	--accent: #EBA870;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--black);
	font-family: 'Space Mono', monospace;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
	position: relative;
}

html, body, input, button, textarea, select {
	font-family: 'Space Mono', monospace;
	font-size: 1.4em;
}

a, .fake_link {
	color: var(--accent);
}

	a:hover, .fake_link:hover {
		text-decoration: underline;
	}


nav {
	width: 100%;
	padding: 1.5em 0;
	background-color: var(--primary);
	color: var(--white);
	display: flex;
	justify-content: space-between;
}

	nav #logo {
		height: 2em;
		margin: 0 2em;
	}

	nav #links {
		margin: -1em 1em 0 0;
		display: flex;
		justify-content: space-between;
	}

		nav #links a {
			margin: 0 1em 0 2em;
		}

button {
	font-size: 0.95em;
	margin: 0.25em;
	padding: 0.25em 0.75em;
	border: none;
	background-color: var(--accent);
	color: var(--white);
}

	button:hover {
		cursor: pointer;
		filter: brightness(1.1);
	}

.accent_text {
	color: var(--accent);
}

table th, table td {
	padding: 0.25em 1em;
}

	table .right_align {
		text-align: right !important;
	}

	table .left_align {
		text-align: left !important;
	}

	table button {
		min-width: 7em;
	}

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary);
	padding-bottom: 1.5em;
}

	#banner #current {
		width: 100%;
		margin: -1.5em 0 1em 0;
		display: flex;
		justify-content: space-evenly;
	}

	#banner #current div {
		width: 2em;
		text-align: center;
		font-size: 1.5em;
		background-color: var(--white);
		padding: 0.25em 0.5em 0.3em 0.5em;
		border-radius: 0.25em;
	}

		#banner #current sup {
			opacity: 0.25;
		}

#data {
	display: grid;
	grid-template-columns: 1fr repeat(5, 3fr) 1fr;
}


	#data #heater_toggle {
		grid-column: 5;
	}

		#data #heater_toggle select {
			font-size: 1em;
		}

	#data #relay_slider {
		grid-column: 6;
	}

		#data #relay_slider input {
			width: 90%;
			float: right;
		}

	#data div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#data sup {
		font-size: 0.7em;
	}

	#data div {
		margin-top: 1.25em;
	}

	#data .faded {
		opacity: 0.25;
	}

	#data .window_icon img {
		height: 1.5em;
	}

	#data .relay_scale {
		white-space: nowrap;
	}

	#data #download_button {
		margin-top: 1em;
		grid-column-start: 3;
		grid-column-end: 6;
		justify-self: center;
	}

	#data #heading {
		grid-column-start: 2;
		grid-column-end: 7;
		justify-self: start;
	}


	#data .thumbnail {
		height: 150px;
		width: 200px;
		margin-right: 1em;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

#camera_stream {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	#camera_stream #viewer {
		width: 800px;
		height: 600px;
		background-color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	#camera_stream #controls {
		margin-top: 1em;
		text-align: center;
	}

		#camera_stream #controls span {
			font-size: 0.8em;
			font-style: italic;
		}

#existing_schedule {
	margin-top: 2em;
}

	#existing_schedule table td, #controls #existing_schedule table th {
		text-align: center !important;
	}

	#existing_schedule form {
		margin-top: 1em;
		text-align: center;
	}

#controls {
	margin: 1em;
}

	#controls form {
		margin-left: 1em;
		width: 90%;
	}

		#controls form table {
			width: 100%;
		}

			#controls form table td {
				padding-bottom: 1em;
			}

		#controls form p {
			line-height: 1.5em;
		}

		#controls form input {
			font-size: 1.0em;
			margin-top: 0.5em;
		}

		#controls form input[type=number] {
			width: 3em;
		}

		#controls form button {
			float: right;
		}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 2em;
	padding: 1.5em 0;
	border-top: solid 2px var(--primary);
	text-align: center;
	opacity: 50%;
}

	#footer a {
		color: inherit;
		text-decoration: none;
	}

		#footer a:hover {
			color: var(--accent);
			text-decoration: underline;
		}

