<!DOCTYPE html>
<html style="height: 100%">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'media/icon.ico') }}"/>
        <title>Brood Monitor | Camera</title>
</head>
<body onload="refresh_stream(); auto_refresh()">
    <nav>
        <img id="logo" src="{{ url_for('static', filename = 'media/logo.png') }}">
        <div id="links">
            <a href="/">home</a>
            <a href="camera">camera</a>
            <a href="light">lighting</a>
        </div>
    </nav>

    <section id="banner">
        <div id="camera_stream">
            <div id="viewer" style="background-image: url('{{ url_for('static', filename = 'captures/01.jpg') }}');"></div>
            <div id="controls">
                <button onclick="capture()">refresh</button>
            </div>
        </div>
    </section>

    <section id="data">
        <div id="heading">recent stills</div>
        <div><!-- spacer --></div>

        {% for still in recent %}
            <div><!-- spacer --></div>
            <div class="thumbnail" style="background-image: url('{{ url_for('static', filename = 'captures/') }}{{ still['filename'] }}');"></div>
            <div>{{ still['time'] }}</div>
            <div><!-- spacer --></div>
            <div><!-- spacer --></div>
            <div><a href="{{ url_for('static', filename = 'captures/') }}{{ still['filename'] }}" download="download">download</a></div>
            <div><!-- spacer --></div>
        {% endfor %}

    </section>
</body>
<script type="text/javascript">
    function auto_refresh() {
        timer = setInterval(function() {
            refresh_stream();
        }, 30000); /* 30,000 = 30 seconds*/

    }

    function refresh_stream() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) { 
                if (xmlhttp.status == 200) {
                    var response = JSON.parse(xmlhttp.responseText);
                    var d = new Date()
                    var frame = "url('{{ url_for('static', filename = 'captures/') }}" + response + "?" + d / 500 + "')"
                    document.getElementById('viewer').style.backgroundImage = frame;
                }
            }
        };

        xmlhttp.open("GET", "/camera/latest", true);
        xmlhttp.send();
    }

    function capture() {
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) { 
                if (xmlhttp.status == 200) {
                    var response = JSON.parse(xmlhttp.responseText);
                    console.log('capture ' + response);
                    var d = new Date()
                    var frame = "url('{{ url_for('static', filename = 'captures/') }}" + response + "?" + d / 500 + "')"
                    document.getElementById('viewer').style.backgroundImage = frame;
                }
            }
        };

        xmlhttp.open("GET", "/camera/capture", true);
        xmlhttp.send();
    }
</script>
</html>
