<!DOCTYPE html>
<html style="height: 100%">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'media/icon.ico') }}"/>
        <title>Brood Monitor</title>
</head>
<body>
    <nav>
        <img id="logo" src="{{ url_for('static', filename = 'media/logo.png') }}">
        <div id="links">
            <a href="/">home</a>
            <a href="camera">camera</a>
            <a href="light">lighting</a>
        </div>
    </nav>

    <section id="banner">
        <div id="current">
            <div style="border:solid 3px #EBA870">{{ current['temperature'] }}<sup>&deg;C</sup></div>
            <div style="border:solid 3px #70EBE7">{{ current['humidity'] }}<sup>%</sup></div>
        </div>
        <div class="chart"><img src="{{ chart['temperature'] }}"></div>
        <div class="chart"><img src="{{ chart['humidity'] }}"></div>
    </section>

    <section id="data">
        <!-- HEADINGS -->
        <div><!-- spacer --></div>
        <div>time</div>
        <div>temp.</div>
        <div>hum.</div>
        <div>heater</div>
        <div>lamps</div>
        <div><!-- spacer --></div>

        <!-- CONTROLS -->
        <div id="heater_toggle">
            <form method="post" id="heater_form">
                <select name="heater" onchange="document.getElementById('heater_form').submit()">
                    {% if heater_on %}
                        <option value="1" selected="selected">on</option>
                        <option value="0">off</option>
                    {% else %}
                        <option value="0" selected="selected">off</option>
                        <option value="1">on</option>
                    {% endif %}
                </select>
            </form>
        </div>
        <div id="relay_slider">
            <form method="post" id="relay_slider_form">
                <input type="range" name="relay"  min="0" max="6" value="{{ max_relay }}" onchange="document.getElementById('relay_slider_form').submit()">
            </form>
        </div>
        <div><!-- spacer --></div>

        <!-- DATA -->
        {% for reading in latest_readings %}
            <div><!-- spacer --></div>
            <div class="timestamp">{{ reading[0] }}</div>
            <div class="temperature">{{ reading[1] }}<sup>&deg;C</sup></div>
            <div class="humidity">{{ reading[2] }}<sup>%</sup></div>
            <div class="window_icon {% if reading[3] == 'False' %} faded {% endif %}">
                {% if reading[3] == 'True' %}
                    on
                {% else %}
                    off
                {% endif %}
            </div>
            <div class="relay_scale">
                <span class="{% if reading[4] > 0 %} accent_text {% endif %}">1</span>
                <span class="{% if reading[4] > 1 %} accent_text {% endif %}">2</span>
                <span class="{% if reading[4] > 2 %} accent_text {% endif %}">3</span>
                <span class="{% if reading[4] > 3 %} accent_text {% endif %}">4</span>
                <span class="{% if reading[4] > 4 %} accent_text {% endif %}">5</span>
                <span class="{% if reading[4] > 5 %} accent_text {% endif %}">6</span>
            </div>
            <div><!-- spacer --></div>
        {% endfor %}

        <form method="post" id="download_button">
            <input type="hidden" name="download" value="1">
            <button>download all</button>
        </form>
    </section>
</body>
</html>
