<!DOCTYPE html>
<html style="height: 100%">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'media/icon.ico') }}"/>
        <title>Brood Monitor | Lighting</title>
</head>
<body>
    <nav>
        <img id="logo" src="{{ url_for('static', filename = 'media/logo.png') }}">
        <div id="links">
            <a href="/">home</a>
            <a href="camera">camera</a>
            <a href="light">lighting</a>
        </div>
    </nav>

    <section id="banner">
        <div class="chart"><img src="{{ chart_url }}"></div>
        <div id="existing_schedule">
            <table>
                <tr>
                    <th></th>
                    <th>start</th>
                    <th>current</th>
                    <th>target</th>
                </tr>
                <tr>
                    <th class="right_align">date</th>
                    <td>{{ summary[0][0] }}</td>
                    <td>{{ summary[1][0] }}</td>
                    <td>{{ summary[2][0] }}</td>
                </tr>
                <tr>
                    <th class="right_align">light</th>
                    <td>{{ summary[0][1] }}hrs</td>
                    <td>{{ summary[1][1] }}hrs</td>
                    <td>{{ summary[2][1] }}hrs</td>
                </tr>
            </table>
        </div>
    </section>

    <section id="controls">
        <span>set a new schedule</span>
        <form method="post">
            <input type="hidden" name="schedule" value="">
            <table id="new_schedule">
                <tr>
                    <th class="left_align">date</th>
                    <th class="right_align">light</th>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="date" name="add_date"></td>
                    <td class="right_align"><input type="number" name="add_hours" min="0" max="24"></td>
                    <td class="right_align"><div class="fake_link" onclick="add_row()">add</div></td>
                </tr>                
            </table>
            <button>save</button>
        </form>
    </section>
</body>
<script type="text/javascript">
    function add_row() {
        var target_date = document.getElementsByName('add_date')[0].value;
        var target_hours = document.getElementsByName('add_hours')[0].value;

        var table = document.getElementById('new_schedule');
        var row = document.createElement('tr');
        row.id = target_date + '|' + target_hours;
        var date_cell = document.createElement("td");
        var hour_cell = document.createElement("td");
        hour_cell.classList.add('right_align');
        var delete_cell = document.createElement("td");
        delete_cell.classList.add('right_align');
        date_cell.innerHTML = target_date;
        hour_cell.innerHTML = target_hours + "hrs";
        delete_cell.innerHTML = '<div class="fake_link" onclick="delete_row(\'' + target_date + '|' + target_hours + '\')">delete</div>';
        row.appendChild(date_cell);
        row.appendChild(hour_cell);
        row.appendChild(delete_cell);
        table.appendChild(row);

        var schedule_input = document.getElementsByName('schedule')[0]
        schedule_input.value = schedule_input.value + target_date + '|' + target_hours + ',';
    }

    function delete_row(id) {
        target = document.getElementById(id);
        target.parentNode.removeChild(target);
    }
</script>
</html>
