<!DOCTYPE html>
<html style="height: 100%">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'media/icon.ico') }}"/>
        <title>Brood Monitor | Automate</title>
</head>
<body>
    <nav>
        <img id="logo" src="{{ url_for('static', filename = 'media/logo.png') }}">
        <div id="links">
            <a href="/">home</a>
            <a href="camera">camera</a>
            <a href="schedule">schedule</a>
        </div>
    </nav>

    <section id="banner">
        <div class="chart"><img src="https://image-charts.com/chart?chco=EBA870&chd=t%3A95%2C95%2C89%2C85%2C76%2C69%2C62%2C%7C95%2C90%2C85%2C80%2C75%2C70%2C65%2C60%2C55%2C50&chf=a%2Cs%2C00000000&chls=5%7C1%2C5%2C5%7C1%2C5%2C5&chs=800x300&cht=ls&chxl=1%3A%7C01%2F04%7C05%2F04%7C10%2F04%7C15%2F04%7C20%2F04%7C25%2F04%7C30%2F04%7C05%2F05%7C10%2F05%7C15%2F05%7C20%2F05%7C25%2F05%7C30%2F05&chxr=0%2C0%2C100&chxt=y%2Cx"></div>
        <div id="existing_schedule">
            <table>
                <tr>
                    <th></th>
                    <th>start</th>
                    <th>current</th>
                    <th>target</th>
                </tr>
                <tr>
                    <th class="right_align">date</th>
                    <td>2022-04-01</td>
                    <td>2022-04-25</td>
                    <td>2022-05-05</td>
                </tr>
                <tr>
                    <th class="right_align">light</th>
                    <td>90%</td>
                    <td>75%</td>
                    <td>50%</td>
                </tr>
            </table>
            <form method="post">
                <input type="hidden" name="delete" value="1">
                <button>cancel</button>
            </form>
        </div>
    </section>

    <section id="controls">
        <span>set a new schedule</span>
        <form method="post">
            <p>by <input type="date" name="target_date">, the lights should be on <input type="number" name="target_percent" min="0" max="100">% of the time.</p>
            <button>save</button>
        </form>
    </section>
    
</body>
</html>
